@model SliderCreateVM

@{
    ViewData["Title"] = "Create";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Slider create</h6>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <span  asp-validation-for="Title">Title</span>
                <input class="form-control" asp-for="Title" placeholder="Title">
            </div>
            <div class="form-group">
                <label asp-for="Subtitle"></label>
                <span  asp-validation-for="Subtitle">Subtitle</span>
                <input class="form-control" asp-for="Subtitle">
            </div>
            <div class="form-group">
                <label asp-for="Link"></label>
                <span  asp-validation-for="Link">Link</span>
                <input class="form-control" asp-for="Link">
            </div>
            <div class="form-group">
                <label asp-for="File"></label>
                <span  asp-validation-for="File">Image</span>
                <input type="file" class="form-control" asp-for="File">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>